{% import "_includes/forms" as forms %}
{% import 'cloudgrayau-utils/_macros' as macros %}
<div id="integrations" class="hidden">
    {% namespace "settings" %}
    
    <h2>Craft CMS</h2>
    {{ forms.lightswitchField({
      label: 'Protect User Registration',
      name: 'enableUserRegistration',
      on: settings.enableUserRegistration,
      errors: settings.getErrors('enableUserRegistration'),
      warning: macros.configWarning('enableUserRegistration', 'oopspam'),
    }) }}
    {% set warning = macros.configWarning('integrations', 'oopspam') %}
    
    <hr>
    <h2>Forms</h2>
    <p>The current form plugins/systems are protected:</p>
{% for key, obj in helper.integrations['forms'] %}
{% if craft.app.plugins.isPluginEnabled(key) %}
    <p>
      <input type="checkbox" class="checkbox" name="integrations[]" id="{{ key }}" value="{{ key }}"{% if key in settings.integrations %} checked="checked"{% endif %}> <label for="{{ key }}">Enable <strong>{{ obj.title }}</strong> {% if obj.information is defined %}<small>{{ obj.information|raw }}</small>{% endif %}<br><small><a href="{{ obj.url }}" target="_blank">{{ obj.url }}</a></small></label>
    </p>
{% endif %}
{% endfor %}
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.13 15.19" fill="currentColor" style="width: 13px; display: inline;margin-right:4px;"><path d="M19.41 0 7.55 11.86 1.72 6.02 0 7.74l7.37 7.37.08.08h.21L21.13 1.72 19.41 0z" style="stroke-width:0"></path></svg> <strong>Custom Forms</strong> - <small>requires custom programming</small>
    </p>
{% if (warning) %}
    <p class="warning has-icon"><span class="icon" aria-hidden="true"></span><span class="visually-hidden">Warning: </span><span>{{ warning }}</span></p>
{% endif %}
    
    <hr>
    <h2>Comments</h2>
    <p>The current comment plugins/systems are protected:</p>
{% for key, obj in helper.integrations['comments'] %}
{% if craft.app.plugins.isPluginEnabled(key) %}
    <p>
      <input type="checkbox" class="checkbox" name="integrations[]" id="{{ key }}" value="{{ key }}"{% if key in settings.integrations %} checked="checked"{% endif %}> <label for="{{ key }}">Enable <strong>{{ obj.title|raw }}</strong><br><small><a href="{{ obj.url }}" target="_blank">{{ obj.url }}</a></small></label>
    </p>
{% endif %}
{% endfor %}
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.13 15.19" fill="currentColor" style="width: 13px; display: inline;margin-right:4px;"><path d="M19.41 0 7.55 11.86 1.72 6.02 0 7.74l7.37 7.37.08.08h.21L21.13 1.72 19.41 0z" style="stroke-width:0"></path></svg> <strong>Custom Comments</strong> - <small>requires custom programming</small>
    </p>
{% if (warning) %}
    <p class="warning has-icon"><span class="icon" aria-hidden="true"></span><span class="visually-hidden">Warning: </span><span>{{ warning }}</span></p>
{% endif %}

    {% endnamespace %}
</div>
