{% import "_includes/forms" as forms %}
{% import 'cloudgrayau-utils/_macros' as macros %}
<div id="security" class="hidden">
    {% namespace "settings" %}
    
{% if (craft.app.version|number_format(2) >= 5.5) %}
<div id="settings-spamScore-field" class="field" data-attribute="spamScore">
  <div class="heading"><label id="settings-spamScore-label" for="settings-spamScore">Spam Score</label></div>
  <div id="settings-spamScore-instructions" class="instructions"><p>Block the overall spam score based on the parameters. The higher the score, the more likely it is to be spam.<br><span class="success">While it depends on your use case, generally a Score 3 and above can be considered spam.</span></p></div>
  <div class="input ltr">
    <div class="flex">
      <div class="range-wrapper">
          {{ tag('input', {
            class: 'range',
            type: 'range',
            id: 'settings-spamScore',
            name: 'settings[spamScore]',
            value: settings['spamScore'],
            step: 1,
            min: 1,
            max: 6,
            dir: craft.app.locale.getOrientation(),
          }) }}
      </div>
      <div>
        {{ text({
            type: 'number',
            id: 'settings-spamScore-num',
            'settings-spamScore-desc',
            value: settings['spamScore'],
            inputmode: 'numeric',
            min: 1,
            max: 6,
            step: 1
        }) }}
      </div>
    </div>
  </div>
</div>
{% else %}
    {{ forms.selectField({
      label: 'Spam Score',
      instructions: 'Block the overall spam score based on the parameters. The higher the score, the more likely it is to be spam.<br><span class="success">While it depends on your use case, generally a Score 3 and above can be considered spam.</span>',
      id: 'spamScore',
      name: 'spamScore',
      value: settings['spamScore'],
      options: helper.scores,
      errors: settings.getErrors('spamScore'),
      warning: macros.configWarning('spamScore', 'oopspam')
    }) }}
{% endif %}
    
    {{ forms.lightswitchField({
      label: 'Block Temporary Emails',
      instructions: 'Block temporary/disposable emails.',
      name: 'blockTempEmail',
      on: settings.blockTempEmail,
      errors: settings.getErrors('blockTempEmail'),
      warning: macros.configWarning('blockTempEmail', 'oopspam'),
    }) }}
    
    {{ forms.lightswitchField({
      label: 'Check Content Length',
      instructions: 'If the <code>content</code> parameter is shorter than 20 characters, it will be considered spam.',
      name: 'checkForLength',
      on: settings.checkForLength,
      errors: settings.getErrors('checkForLength'),
      warning: macros.configWarning('checkForLength', 'oopspam'),
    }) }}
    
    {{ forms.lightswitchField({
      label: 'Log It',
      instructions: 'Allows you to view logs in the OOPSpam Dashboard.',
      name: 'logIt',
      on: settings.logIt,
      errors: settings.getErrors('logIt'),
      warning: macros.configWarning('logIt', 'oopspam'),
    }) }}
    
    {{ forms.lightswitchField({
      label: 'URL Friendly',
      instructions: 'Make the <code>content</code> parameter more link-friendly and reduce the impact of links on the spam score.',
      name: 'urlFriendly',
      on: settings.urlFriendly,
      errors: settings.getErrors('urlFriendly'),
      warning: macros.configWarning('urlFriendly', 'oopspam'),
    }) }}
    
    {{ forms.multiSelectField({
      label: 'Allowed Languages',
      instructions: 'Allow content based on content language.',
      id: 'allowedLanguages',
      name: 'allowedLanguages',
      values: settings['allowedLanguages'],
      options: helper.languages,
      errors: settings.getErrors('allowedLanguages'),
      warning: macros.configWarning('allowedLanguages', 'oopspam'),
      allowEmptyOption: true
    }) }}
    
    {{ forms.multiSelectField({
      label: 'Allowed Countries',
      instructions: 'Allow content only from certain countries.',
      id: 'allowedCountries',
      name: 'allowedCountries',
      values: settings['allowedCountries'],
      options: helper.countries,
      errors: settings.getErrors('allowedCountries'),
      warning: macros.configWarning('allowedCountries', 'oopspam'),
      allowEmptyOption: true
    }) }}
    
    {{ forms.multiSelectField({
      label: 'Blocked Countries',
      instructions: 'Block content from certain countries.',
      id: 'blockedCountries',
      name: 'blockedCountries',
      values: settings['blockedCountries'],
      options: helper.countries,
      errors: settings.getErrors('blockedCountries'),
      warning: macros.configWarning('blockedCountries', 'oopspam'),
      allowEmptyOption: true
    }) }}

    {% endnamespace %}
</div>
